Node-RED.json
[
    {
        "id": "d1ee6e2d.0dfd9",
        "name": "",
        "serial": "b63faf4a.ffc72",
        "type": "serial out",
        "wires": [],
        "x": 812,
        "y": 376,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "d19e306.a3cafd",
        "name": "ド",
        "once": false,
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 639,
        "y": 245,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "96a77f3a.a18cb",
        "name": "レ",
        "once": false,
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 638,
        "y": 295,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "14a34594.191f1a",
        "name": "ミ",
        "once": false,
        "payload": "2",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 638,
        "y": 340,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "6b31fbd4.e2a174",
        "name": "ファ",
        "once": false,
        "payload": "3",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 638,
        "y": 390,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "1a23f067.1f63b",
        "name": "ソ",
        "once": false,
        "payload": "4",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 639,
        "y": 438,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "648cfb8d.7f9bc4",
        "name": "ラ",
        "once": false,
        "payload": "5",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 639,
        "y": 481,
        "z": "5b828e.da6c2d74"
    },
    {
        "crontab": "",
        "id": "f4bdc099.805e",
        "name": "シ",
        "once": false,
        "payload": "6",
        "payloadType": "str",
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d1ee6e2d.0dfd9"
            ]
        ],
        "x": 639,
        "y": 532,
        "z": "5b828e.da6c2d74"
    },
    {
        "addchar": false,
        "bin": "false",
        "databits": "8",
        "id": "b63faf4a.ffc72",
        "newline": "\n",
        "out": "char",
        "parity": "none",
        "serialbaud": "9600",
        "serialport": "/dev/ttyACM0",
        "stopbits": "1",
        "type": "serial-port",
        "z": ""
    }
]
